body {
    overflow: hidden;
}

.clock {
    width: 80vw;
    height: 80vh;
    border-radius: 50%;
    background-color: darkgrey;
    opacity: .6;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    border: 3px solid black;
}

.nums {
    position: absolute;
    text-align: center;
    display:block;
    font-size: 3em;
    width: 100%;
    height: 100%;
    margin: auto;
    transform: rotate(var(--tate));
    
}

#render {
    color: rgb(0, 0, 0);
    padding-top: 50px;
    font-weight: bold;
}

#n1{
   --tate: 30deg;
}
#n2{
    --tate: 60deg;
}
#n3 {
    --tate: 90deg;
}
#n4{
    --tate: 120deg;
}
#n5{
    --tate: 150deg;
}
#n6{
    --tate: 180deg;
}
#n7{
    --tate: 210deg;
}
#n8{
    --tate: 240deg;
}
#n9{
    --tate: 270deg;
}
#n10{
    --tate: 300deg;
}
#n11{
    --tate: 330deg;
}

.hour {
    position: absolute;
    background-color: black;
    width: 3%;
    height: 30%;
    transform: rotate();
    transform-origin: bottom;
    bottom: 50%;
    border: 2px solid green;
    color: white;
    
}

.min {
    
    border: solid 1px darkorange;
    position: absolute;
    background-color: black;
    width: 2%;
    height: 40%;
    transform-origin: bottom;
    transform: rotate();
    bottom: 50%;

}

.sec {
    
    position: absolute;
    background-color: rgb(255, 0, 0);
    border: .5px solid black;
    width: .5%;
    height: 50%;
    transform-origin: bottom;
    transform: rotate();
}
/*
.mili {
    position: absolute;
    background-color: rgb(21, 255, 0);
    width: 10px;
    height: 50%;
    transform-origin: bottom;
    transform: rotate();
    box-shadow: inset -5px 0 10px 0 black;
    
}
*/

.clock::after {
    content: "";
    position: absolute;
    background-color: rgb(31, 121, 180);
    z-index: 10;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    bottom: 48%;
    
}
